<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    nav{
        height: 15vw;
        background: #ec7272;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 4rem;
    }
</style>
<body>
    <nav>
    This is header
</nav>

</body>
</html>